*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    // background-color: yellow;
    font-family: 'Source Sans Pro', sans-serif;
    color: $color_text_main;
}

//************* H1 H2 H3 H4 H5 H6
h1{
    font-size: 80px;
    font-weight: 300;
    text-transform: capitalize;
    span {
        color: $color_primary;
    }
}

h3 {
    font-size: $text_l;
    font-weight: 300;
    margin-top: 25px;
    text-transform: uppercase;
}
h4 {
    font-size: $text_l;
    margin: 30px 0;
    font-weight: 400;
    text-transform: capitalize;
}
// ********************* TAGS
p {
    font-size: $text_m;
    line-height: $line_heigt;
    font-weight: 300;
}

// ******** BUTTON
.btn_primary, 
.btn_shades {
    background-color: $color_primary;
    border-radius: 2px;
    font-size: $text_nav;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    outline: none;
    border: none;
    color: white;

}
//* jumbotron background
.background, 
.background2,
.background3 {
    background-size: cover;
    background-repeat: no-repeat ;
}

.background {
    background-image: url("../img/header-image-homepage.jpg");
}
.background2 {
    background-image: url("../img/paralax-bg-tour-facilities.jpg");
}
.background3 {
    background-image: url("../img/make-an-appointment.jpg");

}
//* intro to every section
.intro {
    width: 60%;
    margin: auto;
    text-align: center;
    > h2 {
        position: relative;
        font-size: $text_h2;
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 50px;
    }
    h2::after{
        content: "";
        position: absolute;
        left: 30%;
        right: 30%;
        bottom: -25px;
        height: 2px;
        background-color: #d1d1d1;
    }
    > img {
        margin: 60px 0 20px 0;
    }
    > p {
        font-size: $text_l;
    }
}

// margins
@for $i from 1 through 10 {
    .mt_#{$i} {
    margin-top: 10px * $i;
    }
}

.container {
    max-width: $max;
    margin: auto;
    position: relative;
}


// ? list socials
i {
    border-radius: 5px;
    color: white;
}
.fa-facebook-f {
    padding: 10px 12px 10px 14px;
    background-color: #3c5998;
}
.fa-twitter {
    padding: 10px;
    background-color: #54acee;
}
.fa-instagram {
    padding: 10px 11px;
    background-color: #3f729b;
}
.fa-youtube {
    padding: 10px 9px;
    background-color: #cd201f;
}

// mixin