//?  text_sizes

$text_s : 14px;
$text_m : 17px;
$text_l : 22px;
$text_xl : 26px;
$text_h2 : 46px;
$text_nav : 18px;

// ? other text_variables
$line_heigt : 2.2;


//? colors
$color_primary: #3aafbf;
$color_text_main : #333c4e;
$color_text_light : #747474;
$color_bg_greyish : #f7f7f7;


// ? dimesioni div
$max : 1200px