//?  text_sizes

$text_s : 14px;
$text_m : 17px;
$text_l : 22px;
$text_xl : 26px;
$text_h : 46px;
$text_nav : 18px;

// ? other text_variables
$line_heigt : 2.2;


//? colors
$color_primary: #3aafbf;