//?  text_sizes

$text_s : 14px;
$text_m : 17px;
$text_l : 22px;
$text_xl : 26px;
$text_h2 : 46px;
$text_nav : 18px;

// ? other text_variables
$line_heigt : 2.2;


//? colors
$color_primary: #816CB2;
$color_text_main : #333c4e;
$color_text_light : #747474;
$color_bg_greyish : #f7f7f7;
$color_text_footer : #666666;

$shade1 : rgb(59, 175, 191);
$shade2 : rgb(54, 151, 195);
$shade3 : rgb(50, 126, 199);


// ? dimesioni div
$max : 1200px;
$max_foot : 90%;